/* Provide sufficient contrast against white background */
body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    background-image: url('./img/2 (2).jpg');
    height:1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.covers {
    height:200px;
    width: 160px;
}
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.fa-search {
    color: dodgerblue;
}
.fa-check {
    color: #646DEC;
}
.fa-trash-alt {
    color: #3369ff;
}
.tableHead {
    background-color: #3369ff;
    color: #FFFFFF;
    text-align: center;
}
tr{
    text-align:center;
}
td {
    padding:0;
    text-align: center;
    vertical-align: middle
}
.addButton {
    border-radius: 4px;
    background-color: #3369ff;
    color: #FFFFFF;
    padding: 5px;
}

.changeButton {
    border: none;
    background-color: #FFFFFF;
}
.removeButton {
    background-color: #FFFFFF;
    border: none;
}
.searchBar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 4px;
    /*border: solid 0.5px darkblue;*/
    background-color: #FFFF99;
    width: 50%;
    margin: auto;
}
.searchButton {
    border: none;
    background-color: #FFFF99;
}
.input{
    border:none;
    padding:10px;
    margin:5px;
}
table{
    margin-top:10px;

}


